<div class="container">
    <div class="about">
        <div class="header-about">About</div>
        <div class="description-about">This project is a part of 🇺🇦PRJCTR — Creative & Tech Online Institute course. But we always appreciate to get your feedback and add new features to DAILY-DO.
        </div>
        <div class="description-about">You can open PRJCTR Course page bellow, or leave comment at Produc Hunt page:</div>
        <div class="logotypes-box">
        <img src="/src/assets/prjctr-logo.svg" alt="logo-1">
        <img src="/src/assets/product-hunt-logo.svg" alt="logo-2" style="margin: 10px 20px 30px 40px;">
        </div>
        <div class="animation"><lottie-player src="https://assets8.lottiefiles.com/packages/lf20_q4400lb7.json" background="transparent" speed="1" loop autoplay></lottie-player></div>
        </div>
</div> 